<!-- Banner -->
  <section id="banner" style="background-image: url('{{ page.media['banner.jpg'].url }}')">
    <div class="content">
      <header>
        {{ content }}
      </header>
      <span class="image"><img src="{{ page.media['pic01.jpg'].url }}" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
  </section>