<!DOCTYPE HTML>
<!--
  Landed by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Landed by HTML5 UP</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    {% do assets.addJs('theme://js/jquery.min.js') %}
    {% do assets.addJs('theme://js/jquery.scrolly.min.js') %}
    {% do assets.addJs('theme://js/jquery.dropotron.min.js') %}
    {% do assets.addJs('theme://js/jquery.scrollex.min.js') %}
    {% do assets.addJs('theme://js/skel.min.js') %}
    {% do assets.addJs('theme://js/skel-layers.min.js') %}
    {% do assets.addJs('theme://js/init.js') %}
    {{ assets.js() }}

    
    {% do assets.addCss('theme://css/skel.css') %}
    {% do assets.addCss('theme://css/style.css') %}
    {% do assets.addCss('theme://css/style-xlarge.css') %}
    {{ assets.css() }}
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header">
        <h1 id="logo"><a href="index.html">Landed</a></h1>
        {% include 'partials/navigation.html.twig' %}
      </header>

    {% block content %}{% endblock %}

    {% include 'partials/footer.html.twig' %}

  </body>
</html>